<table class="table table-hover">
        <tr>
            <td width="56px">
                <a href="{{ url_for('user', username=user.username) }}">
                    <img src="{{ user.avatar(56) }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=user.username) }}">{{ user.username }}</a><br>
                {% if user.about_me %}
                    {{ user.about_me }}
                {% else %}
                    No about :(
                {% endif %}
                <br>
                Last Seen: {{ moment(user.last_seen).fromNow() }}
            </td>
        </tr>
    </table>