{% extends "base.html" %}

{% block content %}
    <h1>Customise your interests:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.music() }} {{ form.music.label }}</p>
        <p>{{ form.tech() }} {{ form.tech.label }}</p>
        <p>{{ form.sports() }} {{ form.sports.label }}</p>
        <p>{{ form.local_news() }} {{ form.local_news.label }}</p>
        <p>{{ form.international_news() }} {{ form.international_news.label }}</p>
        <p>{{ form.politics() }} {{ form.politics.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}