{% extends 'base.html' %}

{% block title %}login{% endblock title %}
{% block links %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock links %}
{% block body %}


<div class="wrapper"  >
    <div style ="text-align:center; ">
        {% if error %}
        <p class="error"><strong>{{ error }}</strong> 
        {% endif %}
    </div>
    <div class="text-center mt-4 "> Enter your Registered email here </div>

    <form class="p-3 mt-3" action="/reset" method="POST">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="email" name="email" id="email" placeholder="email"> </div>
    
        <button class="btn mt-3">reset</button>
    </form>

    <div class="text-center fs-6"> <a href="/login">Sign in</a> or <a href="/register">Sign up</a> </div>
</div>

{% endblock %}