{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if homepage %}
        <h1>Hello {{ current_user.username }}!</h1>
    {% elif page_head %}
        <h1>{{ page_head }}</h1>
    {% endif %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    <br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if not hide %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}