{% extends 'base.html' %}

{% block title %}login{% endblock title %}
{% block links %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock links %}
{% block body %}


<div class="wrapper">
    
    <div class="text-center mt-4 name"> login here </div>

    <form class="p-3 mt-3" action="/loginsuccess" method="POST">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="Username"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"> </div> 

        <div style ="text-align:center; ">
            {% if error %}
            <p class="error"><strong>{{ error }}</strong> 
            {% endif %}
        </div>

        <button class="btn mt-3">Login</button>
        <div style ="text-align:center; " class="mt-3"> or </div>
    </form>
    <a href='/Glogin'>
    <button class="w-100 btn-sm btn-danger rounded-3 ">Sign in with Google</button>
    </a>
    <div class="text-center fs-6"> <a href="/forgetPassword">Forget password?</a> or <a href="/register">Sign up</a> </div>
</div>

{% endblock %}