       <nav>
          <div class="menu-icon">
             <i class="fa fa-bars fa-2x"></i>
          </div>
          <div class="logo">
             LOGO
          </div>
          <div class="menu">
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/profile">profile</a></li>
                <li><a href="/login">Sign in</a></li>
             </ul>
          </div>
       </nav>
   