{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="128px"><img src="{{ post.author.avatar(128) }}"></td>
            <td>
                <h1><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> posted</h1>

                <h4>{{ moment(post.timestamp).fromNow() }}</h4>
                <p>{{ post.body }}</p>
                {% if post.author == current_user %}
                    <a class="btn bg-info" href="{{ url_for('update_post', id=post.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('delete_post', id=post.id) }}">Delete</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}