{% extends 'base.html' %}

{% block title %}login{% endblock title %}
{% block links %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock links %}
{% block body %}

<div class="wrapper">
   
    <div class="text-center mt-4 name"> Register here </div>
    <form class="p-3 mt-3" action="/registersuccess" method="POST">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="Username"> 
        
        </div>
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="email" name="eamil" id="email" placeholder="email"> 
        
        </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Password"></div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="confirm_password" id="pwd" placeholder="confirm_Password"></div>
   
        <button class="btn mt-3">Sign Up</button>
    </form>
    <div class="text-center fs-6"> <a href="/login">Sign in</a> </div>
</div>


{% endblock %}