{% extends 'base.html' %}

{% block content %}
    <h1>Users with similar interests:</h1>
    {% for topic in topics %}
        <h2>{{ topic.title() }}</h2>
        {% if Interests.get_interested_user_by_topic(topic, current_user)==[] %}
            <p>No users found with similar interests</p>
        {% else %}
            {% for user in Interests.get_interested_user_by_topic(topic, current_user) %}
                {% include '_user.html' %}
            {% endfor %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}