{% extends 'base.html' %}

{% block app_content %}
    <h1>Users with similar interests:</h1>
    <div class="container">
    <div class="container">
        {% for topic in topics %}
            {% if '_' in topic %}
                <h2>{{ " ".join(topic.title().split('_')) }}</h2>
            {% else %}
                <h2>{{ topic.title() }}</h2>
            {% endif %}
        <div class="container">
        {% if Interests.get_interested_user_by_topic(topic, current_user)==[] %}
            <p>No users found with similar interests</p>
        {% else %}
            {% for user in Interests.get_interested_user_by_topic(topic, current_user) %}
                {% include '_user.html' %}
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}